body {
    background: #000000;
    font-family: 'Cabin', serif;
    font-size: 18px;
}

.container {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.border {
    border: solid 2px #5fdb50;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 2px;
    -ms-box-shadow: 5px 5px 2px;
    box-shadow: 5px 5px 2px;
}

img {
    height: 20vh;
}

a {
    margin: 30px;
    padding: 20px;
    border-color: #5fdb50;
    background: #5fdb50;
    color: #64933a;
}

a:hover {
    border-color: #a024af;
    background: #a024af;
    color: #7f1d8b;
}

a:active {
    border-color: #7f1d8b;
    background: #7f1d8b;
    color: #511258;
}

.unavailable:active {
    border-color: #E21F1F;
    background: #E21F1F;
    color: #701919;
}

span {
    visibility: hidden;
    position: fixed;
    color: #FFF;
    padding: 10px 20px 10px 20px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #a024af;
    background: #a024af;
    -webkit-box-shadow: 3px 3px 1px #7f1d8b;
    -ms-box-shadow: 3px 3px 1px #7f1d8b;
    box-shadow: 3px 3px 1px #7f1d8b;
}

a:hover span {
    visibility: visible;
    bottom: 0;
    right: 0;
    margin: 20px;
    -ms-opacity: 0.9;
    opacity: 0.9;
}