html,
body {
  margin: 0;
  font-family: 'Cabin', serif;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: #000;
  padding: 1em;
  text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
}

header img {
    height: 3em;
    margin: 0.5em;
}

main {
  flex-grow: 1;
  display: flex;
  background-color: #EEE;
  flex-direction: row;
}

@media all and (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}

.border {
    border: solid 2px #000;
    border-radius: 5px;
    box-shadow: 5px 5px 2px;
}

.block {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
    border-color: #000;
    background: #000;
    color: #BBB;
    padding: 1em;
}

a:hover {
    border-color: #444;
    background: #444;
}

a:hover span {
    visibility: visible;
    bottom: 0;
    right: 0;
    margin: 20px;
}

a img {
    height: 10em;
}

.small {
    height: 8em;
    margin: 1em;
}

span {
    visibility: hidden;
    position: fixed;
    color: #FFF;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: solid 2px #000;
    background: #000;
    box-shadow: 3px 3px 1px #BBB;
}